<%- include('./partials/header') %>

    <% if(error.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
    <% } %>

    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
    <% } %>
    
    <!-- shop wrapper -->
    <div class="container grid lg:grid-cols-4 gap-6 pt-4 pb-16 items-start relative">
        <!-- sidebar -->
        <div
        id="category-div" class="col-span-1 bg-white px-4 pt-4 pb-6 shadow rounded overflow-hidden absolute lg:static left-4 top-16 z-10 w-72 lg:w-full lg:block hidden">
            <div class="divide-gray-200 divide-y space-y-5 relative">
                <!-- category filter -->
                <div class="relative">
                    <div
                        class="lg:hidden text-gray-400 hover:text-primary text-lg absolute right-0 top-0 cursor-pointer">
                        <a><i id="close-icon" class="fas fa-times"></i></a>
                    </div>
                    <!-- <h3 class="text-2xl text-primary mb-3 uppercase font-bold"><%= category %></h3> -->
                    <h1>SHOP - <span class="uppercase font-bold"><%= category || "All Categories" %></span></h1>
                </div>
                <!-- category filter end -->

                <div class="py-4">
                    <!-- Display Categories, Sub-Categories, and Items -->
                    <% for (const category in groupedProducts) { %>
                        <div class="mb-4">
                            <!-- Category Title -->
                            <h2 class="text-xl text-primary uppercase font-bold"><%= category %></h2>
                            <% for (const subCategory in groupedProducts[category]) { %>
                                <!-- Sub-Category Title -->
                                <h3 class="text-base text-gray-800 mt-4 mb-2 uppercase font-medium">Category: <%= subCategory %></h3>
                                <ul class="list-disc list-inside">
                                    <% groupedProducts[category][subCategory].forEach(item => { %>
                                        <!-- Item Name -->
                                        <li class="text-gray-600 uppercase"><%= item %></li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                    <% } %>
                </div>

                <!-- price filter -->
                <!-- <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
                    <div class="mt-4 flex items-center">
                        <input type="text"
                            class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded"
                            placeholder="min">
                        <span class="mx-3 text-gray-500">-</span>
                        <input type="text"
                            class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded"
                            placeholder="mix">
                    </div>
                </div> -->
                <!-- price filter end -->
            </div>
        </div>
        <!-- sidebar end -->


        <!-- products -->
        <div class="col-span-3">
            <!-- sorting -->
            <div class="mb-4 flex items-center">
                <button 
                    id="filter-category" class="bg-primary border border-primary text-white px-10 py-3 font-medium rounded uppercase hover:bg-transparent hover:text-primary transition lg:hidden text-sm mr-3 focus:outline-none">
                    Filter
                </button>
                <form method="GET" action="/products/shop" class="">
                    <select
                      name="sort"
                      onchange="this.form.submit()"
                      class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
                      <option value="">Default sorting</option>
                      <option value="low-high">Price low-high</option>
                      <option value="high-low">Price high-low</option>
                      <option value="latest">Latest product</option>
                    </select>
                </form>
                <form method="GET" action="/products/shop" class="ml-3 hidden lg:block">
                    <input
                        type="text"
                        name="search"
                        placeholder="Search"
                        class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary"
                    />
                    <button type="submit" class="hidden">Search</button>
                </form>
                <div class="flex gap-2 ml-auto">
                    <div
                        class="border border-primary w-10 h-9 flex items-center justify-center text-white bg-primary rounded cursor-pointer">
                        <i class="fas fa-th"></i>
                    </div>
                </div>
            </div>
            <!-- sorting end -->
            <div class="grid lg:grid-cols-2 xl:grid-cols-3 sm:grid-cols-2 gap-6">
                <% products.forEach(function(product) { %>
                    <!-- single product -->
                    <div class="group rounded bg-white shadow overflow-hidden">
                        <!-- product image -->
                        <div class="relative">
                            <img src="/images/products/product8.jpg" class="w-full">
                            <a href="/products/product/<%= product._id %>"
                                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                            </a>
                        </div>
                        <!-- product image end -->
                        <!-- product content -->
                        <div class="pt-4 pb-3 px-4">
                            <a href="/products/product/<%= product._id %>">
                                <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                                    <%= product.title %>
                                </h4>
                                <div class="flex items-baseline mb-1 space-x-2">
                                    <p class="text-xl text-primary font-roboto font-semibold">₹<%= product.price %></p>
                                    <p class="text-sm text-gray-400 font-roboto line-through">₹<%= product.price + 10 %></p>
                                </div>
                                <div class="flex items-center">
                                    <div class="flex gap-1 text-sm text-yellow-400">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- product content end -->
                        <!-- product button -->
                        <a href="/products/addtocart/<%= product._id %>"
                            class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                            Add to Cart
                        </a>
                        <!-- product button end -->
                    </div>
                    <!-- single product end -->
                <% }) %>

            </div>
            <!-- Pagination Controls -->
            <div class="flex justify-between items-center mt-4 text-primary text-lg">
                <div>
                    <%= currentPage %> of <%= totalPages %> pages
                </div>
                <div class="flex gap-3">
                    <a href="/products/shop?page=<%= currentPage - 1 %>&limit=90" class="<%= currentPage === 1 ? 'disabled' : '' %> font-bold">Previous</a>
                    <a href="/products/shop?page=<%= currentPage + 1 %>&limit=90" class="<%= currentPage === totalPages ? 'disabled' : '' %> font-bold">Next</a>
                </div>
            </div>
        </div>
        <!-- products end -->
    </div>
    <!-- shop wrapper end -->

<%- include('./partials/footer') %>